{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    //"import"
  ],
  "extends": [
    "eslint:all"//,
    //"plugin:import/errors",
    //"plugin:import/warnings"
  ],
  "env": {
    "es6": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "indent": ["error", 2],
    "no-magic-numbers": ["off"],
    "no-param-reassign": ["error", {"props": true}],
    "one-var": ["error", "never"],
    "symbol-description": ["off"],
    "quotes": ["error", "single"]
  }
}
